streamlit
vertexai
gcloud
lxml
langchain-community
pdfplumber
semantic-chunkers
open-text-embeddings
ollama
prompt-template
langchain
langchain_experimental
sentence-transformers
diffusers
transformers 
accelerate 
safetensors
html5lib
beautifulsoup4
replicate
mysql-connector-python